**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
**/__pycache__/*
**/.pf9_cluster.json
*.terraform.lock.hcl

# Pycharm IDE
.idea

# vscode
.vscode
